{% extends "tidder/base.html" %}
{% load staticfiles %}


{% block content %}
<div>
    <h4><a href="{{ post.site_url }}">{{ post.site_url }}</a></h4>
    <h3>Title: {{ post.title }}</h3>
    <h4>Content: {{ post.content }}</h4>
</div>
<hr>
<div>
    <h4>Add a Comment:</h4>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
                <input type="submit" name="" value="Comment">
        </form>
                
</div>

{% endblock %}